[Desktop Entry]
Version=1.0
Type=Application
Name=GoLand
Icon=/home/penguin/Documents/GoLand-2020.2.2/bin/goland.svg
Exec="/home/penguin/Documents/GoLand-2020.2.2/bin/goland.sh" %f
Comment=Cross-platform IDE built specially for Go developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland
